/* RESET */

* {
    box-sizing: border-box;
}

body, ul, li, a, h1, h2, p {
    margin: 0px;
    padding: 0px;     
}

body {
    background-color: #FFFFFF;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    overflow: scroll;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER */

.menu-bg {
    /*height: 250px*/
}

.menu-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;     
}

.menu-list {
    height: 36px;
}

.menu-nav ul {
    display: flex;
    /*flex-wrap: wrap;*/ 
}

.menu-nav ul li  {
    padding: 10px 15px;
}

.menu-nav ul li a {
    color: #035755;       
}

.menu-nav ul .contact-button {
    border: 2px solid #fb4c47;
    color: #FF383D;
    padding: 12px 35px;
    border-radius: 30px;
    font-weight: 700;   
}

li .a:hover::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
    display: block;
    margin: 6px auto;   
}

li .a:hover {
    color: tomato;
}

.virus {
    position: absolute;
    display: none;
}

#check {
    display: none;   
}

.checkbtn {
    margin-right: 50px;
    font-size: 30px;
    color: tomato;
    display: none;
    cursor: pointer; 
}

.covid-19-alert {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 0;
    margin: 0 auto; 
    max-width: 1200px;   
}

.covid-19-alert-info {
    /*position: absolute;*/
    margin-top: 195px;
    width: 600px;
}

.covid-19-alert-info h1 {
    font-size: 28px; 
    color: #FA5652 
}

.covid-19-alert-info h2 {
    font-size: 46px;
    color: #035755;
}

.covid-19-alert-info p {
    margin-top: 30px;
    margin-bottom: 45px;
    line-height: 25px;
    color: #4B4F51;
}

.covid-19-alert-info a{
    color: white;
    background: #FB4C47;
    padding: 16px 35px;
    border-radius: 30px;
    font-weight: 700;
}

.section-img {
    position: absolute;
    left: 600px;
    top: 115px; 
}

@media screen and (max-width:1100px) {

    .covid-19-alert-info {
        margin-top: 70px;
        transition: .4s;
    } 
}

@media screen and (max-width: 990px) {
    
    .section-img {
        display: none;
    }

    .covid-19-alert-info {
        margin-top: 90px;  
    }

    .logo {
        margin-bottom: 20px;  
    } 

    .menu-nav {
        flex-direction: column;
        padding: 15px 24px;
    }
}

@media screen and (max-width: 595px) {

    .logo {
        margin-left: -60px;
    }

    .menu-list {
        position: absolute;
        width: 100%;
        height: 570px;
        left: -595px;
        background: white;
        top: 115px;
        text-align: center;
        transition: all .3s;
        flex-direction: column;
        padding-top: 70px;
        background-image: url(../img/path1470\ \(3\)\ -\ Copia.png);
        background-repeat: no-repeat;
        background-position: left  300px; 
    }

    .virus {
        display: block;
        padding-left: 400px;
    }    

    .menu-list li .contact-button {
        line-height: 50px;
    }

    li .a:hover::after  {
        display: none;
    }

    /*li .a:hover { color: #035755; }*/

    .checkbtn {
        position: absolute;
        display: block;
        right: 20px;
        top: 33px;
    }

    #check:checked ~ .menu-list {
        left: 0;
    }

    .covid-19-alert-info h1 {
        font-size: min(4.5vw); 
    }
    
    .covid-19-alert-info h2 {
        font-size: min(7vw);
    }
}




    












