/* RESET */

* {
    box-sizing: border-box;
}

body, ul, li, a, h1, h2, p {
    margin: 0px;
    padding: 0px;     
}

body {
    background-color: #FFFFFF;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER */

.menu-nav {
    max-width: 1480px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;     
}

.logo {
    padding: 5px 20px;
}

.menu-list {
    display: flex;
    height: 37px;
    margin-top: 12px;
}

.menu-nav ul li  {
    padding: 5px 20px;  
}

.menu-nav ul li a {
    color: #035755;
    font-size: 18px;   
}

.menu-nav ul .contact-button {
    border: 2px solid #fb4c47;
    color: #FF383D;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 700;   
}

li .a:hover::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
    display: block;
    margin: 6px auto;   
}

li .a:hover {
    color: tomato;
}

.virus {
    position: absolute;
    display: none;
}

#check {
    display: none;   
}

.checkbtn {
    margin-right: 50px;
    font-size: 30px;
    color: tomato;
    display: none;
    cursor: pointer; 
}

/*section 1*/

.covid-19-alert {
    max-width: 1480px;
    height: 900px;
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 0 30px 0;
    margin: 0 auto; 
       
}

.covid-19-alert-info {
    /*position: absolute;*/
    margin-top: 325px;
    width: 650px;
}

.covid-19-alert-info h1 {
    font-size: 32px; 
    color: #FA5652;
    margin-bottom: 15px;
    
}

.covid-19-alert-info h2 {
    font-size: 52px;
    color: #035755;
    margin-bottom: 40px;
    line-height: 65px;
}

.covid-19-alert-info p {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 80px;
    line-height: 35px;
    color: #4B4F51;
}

.covid-19-alert-info a {
    font-size: 22px;
    color: white;
    background: #FB4C47;
    padding: 30px 65px;
    border-radius: 40px;
    font-weight: 700;
}

.section-img {
    position: absolute;
    left: 863px;
    top: 147px;  
}

/*section 2*/

.what-is-covid-19 {
    max-width: 1480px;
    height: 790px;
    display: flex;
    margin: 0 auto;   
}

.section-2-img {
    margin-left: -210px;
    margin-top:  -100px;
}

.what-is-covid-19-info {
    margin-top: 150px;
    margin-left: 55px;
    width: 680px;  
}

.what-is-covid-19-info h1 {
    font-size: 29px;
    color: #FA5652;
    margin-bottom: 15px;
}

.what-is-covid-19-info h2 {
    font-size: 50px;
    color: #035755;
    margin-bottom: 40px;  
}

.what-is-covid-19-info p {
    font-size: 19px;
    color: #4B4F51;
    margin-top: 30px;
    margin-bottom: 70px;
    line-height: 38px;
}

.what-is-covid-19-info a {
   font-size: 18px;
   text-transform: capitalize;
   color: #FA5652;
   background: rgba(250, 86, 82, 0.15);
   padding: 22px 55px;
   border-radius: 40px;
   font-weight: 600;
}

.v-rosa-maior {
    position: absolute;
    margin-left: 705px;
    margin-top: -210px;
}

.v-rosa-pequeno {
    position: absolute;
    margin-left: 680px;
    margin-top: 70px;
}

/* section 3 */

.covid-19 {
    max-width: 1480px;
    height: 850px;
    margin: 0 auto; 
    text-align: center;
}

.covid-19-info h1 {
    color: #FA5652;
    margin-bottom: 20px;
    font-size: 29px;
}

.covid-19-info h2 {
    color: #035755;
    margin-bottom: 30px;
    font-size: 50px;
}

.covid-19-info p {
    font-size: 18px;
    color: #4B4F51;
    line-height: 30px;
}

.imagens-3 {
    display: flex;
    margin-top: 100px;
}

.img3 {
    margin: 0 25px;
    width: 460px;
    height: 510px;
}

.imagens-3 h1 {
    color: #035755;
    font-size: 36px;
    font-weight: 500;
    margin-top: 60px;
}

.imagens-3 .img3 {
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.15);
}

.imagens-3 .img3:hover {
    border-bottom: solid 7px #FA5652;
    border-radius: 5px;
    transition: .4s;
}

.virus-rosa {
    position: absolute;
    margin-left: -855px;
    margin-top: 330px;
}

/* section 4 */

.covid-19-2 {
    max-width: 1480px;
    height: 1200px;
    padding: 0 30px 0;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

.covid-19-2-info h1 {
    font-size: 29px;
    color: #FA5652;
    margin-bottom: 20px;
}

.covid-19-2-info h2 {
    font-size: 50px;
    color: #035755;
    margin-bottom: 30px; 
}

.covid-19-2-info p {
    font-size: 18px;
    color: #4B4F51;
    line-height: 30px;
}

.petala-menor {
    position: absolute;
    margin-left: -165px;
    margin-top: 535px;
}

.petala-maior {
    position: absolute;
    margin-left: 1390px;
    margin-top: -150px;
}

/*Section 5 */

.covid-19-3 {
    text-align: center;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 30px 0;
}

.img-text1 {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.img-text2 {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.img-text3 {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.img-text4 {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1500px) {
    
    .section-img {
        left: 700px;
        top: 250px;
    }

    .covid-19-alert-info {
        margin-top: 90px;  
    }

    .logo {
        margin-bottom: 20px;  
    } 

    .menu-nav {
        flex-direction: column;
        padding: 15px 24px;
    }
}

@media screen and (max-width: 1300px) {
    .section-img {
        display: none;
    }
}

@media screen and (max-width: 595px) {

    .logo {
        margin-left: -60px;
    }

    .menu-list {
        position: absolute;
        width: 100%;
        height: 570px;
        left: -595px;
        background: white;
        top: 115px;
        text-align: center;
        transition: all .3s;
        flex-direction: column;
        padding-top: 70px;
        background-image: url(../img/path1470\ \(3\)\ -\ Copia.png);
        background-repeat: no-repeat;
        background-position: left  300px;
    }

    .virus {
        display: block;
        padding-left: 400px;
    }    

    .menu-list li .contact-button {
        line-height: 50px;
    }

    li .a:hover::after  {
        display: none;
    }

    /*li .a:hover { color: #035755; }*/

    .checkbtn {
        position: absolute;
        display: block;
        right: 20px;
        top: 33px;
    }

    #check:checked ~ .menu-list {
        left: 0;
    }

    .covid-19-alert-info h1 {
        font-size: min(4.5vw); 
    }
    
    .covid-19-alert-info h2 {
        font-size: min(7vw);
    }
}




    












