/* RESET */

* {
    box-sizing: border-box;
}

body, ul, li, a, h1, h2, p {
    margin: 0px;
    padding: 0px;     
}

body {
    background-color: #FFFFFF;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*img {
    max-width: 100%;
}*/

/* HEADER */

.menu-nav {
    max-width: 1480px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;     
}

.logo {
    padding: 5px 20px;
    max-width: 232px;
    width: 100%;
}

.menu-list {
    display: flex;
    height: 37px;
    margin-top: 12px;
}

.menu-nav ul li  {
    padding: 5px 20px;  
}

.menu-nav ul li a {
    color: #035755;
    font-size: 18px;   
}

.menu-nav ul .contact-button {
    border: 2px solid #fb4c47;
    color: #FF383D;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 700;   
}

li .a:hover::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
    display: block;
    margin: 6px auto;   
}

li .a:hover {
    color: tomato;
}

#check {
    display: none;   
}

.checkbtn {
    margin-right: 50px;
    font-size: 30px;
    color: tomato;
    display: none;
    cursor: pointer; 
}

/*section 1*/

.covid-19-alert {
    max-width: 1480px;
    height: 900px;
    display: flex;
    padding: 0 30px 0;
    margin: 0 auto;      
}

.covid-19-alert-info {
    margin-top: 325px;
    width: 650px;
}

.covid-19-alert-info h1 {
    font-size: 32px; 
    color: #FA5652;
    margin-bottom: 15px;   
}

.covid-19-alert-info h2 {
    font-size: 52px;
    color: #035755;
    margin-bottom: 40px;
    line-height: 65px;
}

.covid-19-alert-info p {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 80px;
    line-height: 40px;
    color: #4B4F51;
}

.covid-19-alert-info a {
    font-size: 22px;
    color: white;
    background: #FB4C47;
    padding: 30px 65px;
    border-radius: 40px;
    font-weight: 700;
}

.section-img {
    position: absolute;
    left: 863px;
    top: 147px;  
}

.section-img img {
    max-width: 1040px;
    width: 100%;
}

/*section 2*/

.what-is-covid-19 {
    max-width: 1600px;
    height: 790px;
    display: flex;
    margin: 0 auto;   
}

.section-2-img img {
    max-width: 691px;
    width: 100%;
    margin-top: 50px;
}

.what-is-covid-19-info {
    margin-top: 150px;
    margin-left: 170px;
    width: 680px;  
}

.what-is-covid-19-info h1 {
    font-size: 29px;
    color: #FA5652;
    margin-bottom: 15px;
}

.what-is-covid-19-info h2 {
    font-size: 50px;
    color: #035755;
    margin-bottom: 40px;  
}

.what-is-covid-19-info p {
    font-size: 19px;
    color: #4B4F51;
    margin-top: 30px;
    margin-bottom: 70px;
    line-height: 40px;
}

.what-is-covid-19-info a {
   font-size: 18px;
   text-transform: capitalize;
   color: #FA5652;
   background: rgba(250, 86, 82, 0.15);
   padding: 22px 55px;
   border-radius: 40px;
   font-weight: 600;
}

.v-maior {
    position: absolute;
    margin-left: 680px;
    margin-top: -210px;  
}

.v-maior img {
    max-width: 210px;
    width: 100%;
}

.v-menor {
    position: absolute;
    margin-left: 655px;
    margin-top: 70px;
}

.v-menor img {
    max-width: 187px;
    width: 100%;
}

/* section 3 */

.covid-19 {
    max-width: 1480px;
    height: 850px;
    margin: 0 auto; 
    text-align: center;
}

.covid-19-info h1 {
    color: #FA5652;
    margin-bottom: 20px;
    font-size: 29px;
}

.covid-19-info h2 {
    color: #035755;
    margin-bottom: 30px;
    font-size: 50px; 
}

.covid-19-info p {
    font-size: 18px;
    color: #4B4F51;
    line-height: 40px;
}

.imagens-3 {
    display: flex;
    margin-top: 130px;
}

.img3 {
    margin: 0 25px;
    width: 460px;
    height: 535px;
    padding: 25px;
}

.imagens-3 h1 {
    color: #035755;
    font-size: 36px;
    font-weight: 550;
    margin-top: 60px;
}

.imagens-3 .img3 {
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.15);
}

.imagens-3 .img3:hover {
    border-bottom: solid 7px #FA5652;
    border-radius: 5px;
    transition: .4s;
}

.img3 img {
    max-width: 100%;
}

.virus-rosa {
    position: absolute;
    margin-left: -855px;
    margin-top: 355px;
}

/* section 4 */

.covid-19-2 {
    max-width: 1480px;
    height: 1200px;
    padding: 0 30px 0;
    margin: 0 auto;
    margin-top: 190px;
    text-align: center;
}

.covid-19-2 h1 {
    font-size: 29px;
    color: #FA5652;
    margin-bottom: 20px;
}

.covid-19-2 h2 {
    font-size: 50px;
    color: #035755;
    margin-bottom: 30px; 
}

.covid-19-2 p {
    font-size: 18px;
    color: #4B4F51;
    line-height: 40px;
}

.petala-menor {
    position: absolute;
    margin-left: -165px;
    margin-top: 535px;
}

.symptomps {
    max-width: 1171px;
    width: 100%;
}

.petala-maior {
    position: absolute;
    margin-left: 1390px;
    margin-top: -150px;
}

/* Section 5 */

.covid-19-3 {
    text-align: center;
    max-width: 1480px;
    height: 2700px;
    padding: 0 30px 0;
    margin: 0 auto;
}

.covid-19-3-info {
    margin-bottom: 75px;
}

.covid-19-3 h1 {
    color: #FA5652;
    margin-bottom: 20px;
    font-size: 29px;
}

.covid-19-3 h2 {
    color: #035755;
    margin-bottom: 30px;
    font-size: 50px; 
}

.covid-19-3 p {
    font-size: 18px;
    color: #4B4F51;
    line-height: 40px;
}

.img-text {
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.img-text h1 {
    font-size: 45px;
    color: #035755;
}

.img-text img {
    max-width: 100%;
}

.maior-section-5 {
    position: absolute;
    margin-left: -240px;
    margin-top: 190px; 
}

.img-text .wm {
    display: flex;
    width: 800px; 
}

.img-text .wyh {
    display: flex;
    width: 800px;
    margin-left: 170px;
}

.img-text .unr {
    display: flex;
    width: 900px;
}

.img-text .ac {
    display: flex;
    width: 800px;
    margin-left: 140px;
}

.menor-section-5 {
    position: absolute;  
    margin-left: 1495px;
    margin-top: -500px;
}

.v-vermelhor-5 {
    position: absolute;
    margin-left: 1495px;
}

.wm .n-01, .wyh .n-02, .unr .n-03, .ac .n-04 {
   padding: 15px;
   background:#FEE6E5;
   border-radius: 50%;
   margin-right: 40px;
   margin-top: -12px;
   font-size: 44px;
   color: #FA5652;
}

/* Section 6 */

.reports {
    max-width: 1530px;
    margin: 0 auto;
}

.map-reports {
    display: flex;
}

.mapa img {
    max-width: 998px;
    width: 100%;
}

.reports-list {
    width: 370px;
    margin-left: 100px;
    margin-top: 10px;  
}

.paises {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 24px;
     color: #035755;
     margin-top: 40px;
}

.paises ul {
    display: flex;
    font-size: 31px;
    color: #13615F;
}

.paises ul div {
    margin-left: 30px;
}

.reports-list h1 {
    margin-bottom: 60px;
    color: #035755;
    font-size: 48px;
}

.question {
    width: 800px;
    height: 330px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

.question h1 {
    text-align: center;
    color: #0C6C44;
    font-size: 64px;
    margin-bottom: 100px;
}

.question .send {
    max-width: 790px;
    height: 114px;
    color: #758681;
    font-size: 22px;
}

.send input {
    width: 570px;
    height: 75px;
    font-size: 22px;
    border: none;
    outline: 0;
}

.question a {
    border-radius: 50px;
    padding: 26px 80px;
    color: white;
    background-color: #F44A45;
    font-weight: 600;
}

.v-maior-6 {
    position: absolute;
    margin-left: 1515px;
    margin-top: -360px;
}

.v-maior-6 img {
    max-width: 202px;
    width: 100%;
}

.v-menor-6 { 
    position: absolute;
    margin-left: 1360px;
    margin-top: -430px;
}

.v-menor-6 img {
    max-width: 153px;
    width: 100%;
}

/* footer */

footer {
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.footer-menu {
    display: flex;
}

.footer-menu a {
    margin-left: 60px;
    font-size: 22px;
    color: #00402E;
}

.all {
    position: absolute;
    font-size: 22px;
    margin-top: 100px;
    margin-left: 140px;
    color: #415E56;
}

.r-sociais {
    display: flex;
}

.r-sociais i {
    margin-left: 40px;
    font-size: 22px;
    color: #035755;
}

.youtube i {
    color: #F44A45;
}


@media screen and (max-width: 1679px) {
    
    .section-img {
        left: 700px;
        top: 250px;
    }

    .covid-19-alert-info {
        margin-top: 90px;  
    }

    .logo {
        margin-bottom: 20px;  
    } 

}

@media screen and (max-width: 1300px) {
    .section-img {
        display: none;
    }
}

@media screen and (max-width: 595px) {

    .imagens-3 {
        flex-wrap: wrap;
    }

    .imagens-3 .img3 {
        box-shadow: none;
    }

    .imagens-3 .img3:hover {
        border-bottom: none;
        border-radius: 5px;
        transition: .4s; 
    }

    .menu-list {
        position: absolute;
        width: 100%;
        height: 570px;
        left: -595px;
        background: white;
        top: 115px;
        text-align: center;
        transition: all .3s;
        flex-direction: column;
        padding-top: 70px;
        background-image: url(../img/menu-list@media.png);
        background-repeat: no-repeat;
        background-position: left  300px;
    }    

    .menu-list li .contact-button {
        line-height: 50px;
    }

    li .a:hover::after  {
        display: none;
    }

    /*li .a:hover { color: #035755; }*/

    .checkbtn {
        position: absolute;
        display: block;
        right: 20px;
        top: 33px;
    }

    #check:checked ~ .menu-list {
        left: 0;
    }

    .covid-19-alert-info h1 {
        font-size: min(4.5vw); 
    }
    
    .covid-19-alert-info h2 {
        font-size: min(7vw);
    }
}




    












